
<h1> <%= @contact.first_name %> <%= @contact.last_name %> </h1>
<p class="txt"><strong>Email:</strong><%= @contact.email %></p>
<p class="txt"><strong>Note:</strong></p>
<p class="txt"><%= @contact.notes %></p>

<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="Delete Contact" value="Delete Contact">
</form>